{% extends 'base.html' %}
{% block title %}
    <title>Crypton-Coin</title>
{% endblock %}


{% block body %}
{% load custom_tag %}
<div class="container">

  <h1 align="center" style="padding-bottom:40px;">Coin Market</h1>
    <div class="form-group" style="width:30%;margin-left:70%;">

    <input  type="text" class="search form-control form-control-lg" placeholder="What you looking for?">
    </div>

  <div class="table-responsive" style="padding-top:50px;">
  <table class="table" id="userTbl">
    <thead>
      <tr>

        <th>Name</th>
        <th>Market Cap</th>
        <th>Price</th>
        <th>Change 24 Hours</th>
        <th>Volume</th>
        <th>7 Day Change</th>
      </tr>
    </thead>
    {% for d in data %}



    <tbody>
      <tr class="detail">
        <td><a href="/graph/{{d.short}}"><img alt="No Data Available" src="http://coincap.io/images/coins/{{d.long}}.png" width="40px" height="40px"/>&nbsp;{{d.long}}</a></td>
        <td>{{d.mktcap}}</td>
        <td>{{d.price}}</td>
        {% if d.cap24hrChange >= 0 %}
        <td style="color: green;">{{d.cap24hrChange}}</td>
        {% else %}
        <td style="color: red;">{{d.cap24hrChange}}</td>
        {% endif %}
        <td>{{d.volume}}</td>
        <td><img class="img-responsive"  src="https://www.worldcoinindex.com/data/v-636615431991593564/{{d.long|space2nill}}_usd.png"></td>


      </tr>
    </tbody>
    {% endfor %}


  </table>

  </div>
</div>

{% endblock %}
