<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 	<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css">
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.css">
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-api-0.12.15.min.js"></script>


    <script>
    $(document).ready(function(){
        $('.search').on('keyup',function(){
            var searchTerm = $(this).val().toLowerCase();
            $('#userTbl tbody tr').each(function(){
                var lineStr = $(this).text().toLowerCase();
                if(lineStr.indexOf(searchTerm) === -1){
                    $(this).hide();
                }else{
                    $(this).show();
                }
            });
        });
    });

    $(document).ready(function(){
        $('#up').click(function(){
            $('#userTbl tr:has(td.positive)').toggle()
        });
    });
     $(document).ready(function(){
        $('#down').click(function(){
            $('#userTbl tr:has(td.negative)').toggle()
        });
    });
    $(document).ready(function(){
        $('#userTbl tr:has(td.positive)').hover(function(){
            $(this).css("background-color", "#00FA9A");
        }, function(){
        $(this).css("background-color", "white");
        });
    });
    $(document).ready(function(){
        $('#userTbl tr:has(td.negative)').hover(function(){
            $(this).css("background-color", "#FFC0CB");
        }, function(){
        $(this).css("background-color", "white");
        });
    });




    </script>


    {% block title %}
    <title>
		Crypto
	</title>
    {% endblock %}
   <style type="text/css">
   {% block styling %}

   {% endblock %}

    body, html {
      height: 100%;
      margin: 0 auto;
    }
    .border{

        height:13%;
        width:100%;
        {% load static %}
        background-image:url({% static 'image/bor1.jpg' %});
    }
    .exc tr:hover{
        background-color:#B0C4DE;


    }
    .navbar-fixed-top {
    min-height: 55px;
    }

  .navbar-fixed-top .navbar-collapse {
    max-height: 55px;
  }

  @media (min-width: 768px) {
    .navbar-fixed-top .navbar-collapse {
        max-height: 100px;

    }

}
	</style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" style="margin: 0 !important;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}" style="font-size: 35px;margin:0 auto;">coin<span style="font-weight:bold;">Crypton</span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        <li><a href="{% url 'coinDetail' %}" >Crypto Currency</a></li>
        <li><a href="{% url 'moneyEXC' %}">Money Exchange</a></li>
          <li><a href="{% url 'excGraph' %}">Currency Graph</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container border">


</div>
{% block body %}

{% endblock %}

<footer class="page-footer font-small blue pt-4 mt-4">

    <div class="container-fluid text-center text-md-left" style="background-color:#333333;margin-top:40px;">
        <div class="row">

            <div class="col-md-6" style="color:white;">
                <h1 class="text-uppercase">Crypton</h1>
                <p>One place for all the Currencies</p>
            </div>
            <div class="col-md-6" style="color:white;">
                <h1 class="text-uppercase">Links</h1>
                <ul class="list-unstyled" >

                    <li>
                        <a href="https://github.com/HassanRehman11"><h3>Github</h3></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright: Sheikh Hassan Rehman
    </div>
</footer>
<!--/.Footer-->
</body>
</html>