{% extends 'base.html' %}
{% block title %}
<title>Crypto Graph</title>
{% endblock %}

{% block body %}
<div class="container" style="background-color:black">
  <div class="jumbotron" style="background-color:black;">
      <h1 style="color:white;">{{detail.display_name}}</h1>
        <p style="color:white;">Price: {{detail.price_usd}}$</p>
        <p style="color:white;">Market Cap: {{detail.market_cap}}$</p>
        <p style="color:white;">24hrs Change: {{detail.cap24hrChange}}%</p>

      </div>
</div>
<div class="container" style="margin:0 auto;width:80%;" >
    <h1 ><p style="text-align:center">Data Visulaization</p></h1>

    <h1 style="text-align:center;">
        {% if bokeh_div %}
            {{bokeh_div|safe}}
            {{bokeh_script|safe}}

        {% endif %}
    </h1>

</div>

{% endblock %}
